body {
	background-color: #3399FF;
	color: #fff;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
	font-weight: 400;
	text-align: center;
	border: 1px solid #000;
}

p {
	font-weight: 200;
	text-align: center;
	border: 1px solid #000;
}

.button {
	float: left;
}
button {
	padding: 20px 100px 20px 1	00px;
	background-color: #fff;
	color: #3399FF;
	border-radius: 5px;
	margin: 0 auto 0 auto;
	border: 1px solid #000;
	margin-left: 100px;
	font-size: 22px;
}

.tweets {
	font-weight: 200;
	border: 1px solid #000;
	float: right;
	width: 70%;
}

.tweet {
	margin: 8px 0 8px 100px;
}