body {
	background-color: #3399FF;
	color: #fff;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
	font-weight: 100;
	text-align: center;
	border: 1px solid #000;
	font-family: Lobster, cursive;
	font-size: 80px;
	margin: 0;
}

p {
	font-weight: 200;
	font-family: Lobster, cursive;
	text-align: center;
	border: 1px solid #000;
	padding-left: 200px;
	font-size: 20px;
}

.button {
	float: left;
	border: 1px solid #000;
	width: 25%;
	text-align: center;
}

button {
	padding: 20px 100px 20px 1	00px;
	background-color: #fff;
	color: #3399FF;
	border-radius: 5px;
	border: 1px solid #000;
	font-size: 50px;
	font-family: Lobster, cursive;
}

.tweets {
	font-weight: 200;
	border: 1px solid #000;
	float: right;
	width: 70%;
}

.tweet {
	margin: 8px 0 8px 100px;
}

a {
	color: #333399;
}

a:hover {
	color: #3366cc;
}